{% extends "base_generic.html" %}

{% block content %}
{% if table %}
	<table width = "100%">
		<thead colspan="5"> <tr> Planer Output </tr> </thead>
		<tr>
			<td>料號</td>
			<td>目前數量</td>
			<td>生產所需數量</td>
			<td>所需購買數量</td>
			<td>購買連結</td>
		</tr>
	{% for row in table %}
	<tr>
		<td>{{ row.0 }}</td>
		<td>{{ row.2 }}</td>
		<td>{{ row.3 }}</td>
		<td>{{ row.4 }}</td>
		<td>{{ row.5 }}</td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}