{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>生產規劃</h3>

{% if planer_list %}
<p>目前預計生產以下產品，請新增、修改或是計算</p>
{% else %}
<p>目前沒有計畫生產任何產品，請用 filter 篩選產品並新增</p>
{% endif %}

<form method ="post" action ="">
	{% csrf_token%}
	<div>
	<td><label>生產產品包含關鍵字</label></td>
	<td><input type="text" name="pnKW"></td>
	<td><input type="submit" value="Filter to Add"/></td>
	</div>
</form>

	<table width = "100%">
	{% if planer_list %}
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>數量</td>
			<td>編輯</td>
		</tr>
	{% for pl in planer_list %}
		<tr>
			<td>{{ pl.product }}</td>
			<td>{{ pl.product.discription }}</td>
			<td>{{ pl.produceQty }}</td>
			<td> <a href="{{pl.product.Pid}}/"  class ="btn btn-info"> Edit </a>
			</td></tr>
	{% endfor %}
	{% endif %}

	{% if partnumber_list %}
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>數量</td>
			<td>新增</td>
		</tr>
	{% for pn in partnumber_list %}
		<tr>
			<td>{{ pn.name }}</td>
			<td>{{ pn.discription }}</td>
			<td>0</td>
			<td> <a href="{{pn.Pid}}/"  class ="btn btn-info"> Add </a>
			</td></tr>

	{% endfor %}
	{% endif%}
	</table>
	<a href="{% url 'calculate' %}"  class ="btn btn-info"> 備料計算 </a>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}