{% extends "base_generic.html" %}
{% block content %}
	<div>
		<h3>料號查詢</h3>
	</div>
	<div>
		<td><a href={% url 'addPartNumber' %}>新建料號</a></td> 
		<td><a href={% url 'addCategory' %}>新建料號分類</a></td>
	</div>
	<form method ="get" action ="">
		
	<div>
		<td><label for="pnKW"> 料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
		
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>
		
	</div>
	<div><input type="submit" value="submit"/></div>
	</form>

	{% if table %}
	<table width = "1000">
		<thead colspan="5"> <tr>Part Number List</tr> </thead>
		{% for row in table %}
		<tbody><tr>
		<td>{{ row.0 }}</td>
		<td>{{ row.1}}</td>
		<td>{{ row.2}}</td>
		<td>{{ row.3}}</td>
		<td><a href={{ row.4}}>{{row.4}}</a></td>
	</tr></tbody>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！ 請重設查詢條件 </p>
	{% endif %}
{%endblock%}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}