{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>新建料號分類</h3>
	</div>
	<div>
		<li><a href={% url 'addPartNumber' %}>新建料號</a>
		<li><a href={% url 'uploadPart' %}>批次建立新料號</a></li>
	</div>
	<form method ="post" action ="">
		{% csrf_token%}
	<div>
		<td><label for="category">料號分類</label></td>
		<td><input name="category" type = "text"></td>	
	</div>
	<div><input type="submit" value="submit"/></div>
	</form>
	{% if done %}
		<p> 設定成功 </p>
	{% elif exist %}
		<p><font color=red> 料號分類重複 </font></p>
	{% elif empty %}
		<p><font color=red> 請輸入料號分類 </font></p>
	{% endif %}

<hr>
	{% if category_list %}
		<table>
		<tr><td>料號分類</td></tr>
		{% for cg in category_list %}
			<tr><td>{{ cg.category }}</td></tr>
		{% endfor %}
		</table>
	{% else %}
		<font color=red> 目前無料號分類 </font>
	{% endif %}
{%endblock%}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}