{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>生產登錄</h3>


	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="qty">生產 <font color="red">{{ bf.0.product.name }}</font> 數量</label></td>
		<td><input type="number" name="qty"></td>
	</div>
	<div>
		{% for bf in bf %}
		<td><input type="radio" name="bomtype" value={{ bf.bomserial }}>
			<label>{{ bf.product}}__{{bf.discription}}</label></td>
		{% endfor %}
		<td><input type="radio" name="inout" value="inside">
			<label>RD 自行領料</label></td>
	</div>

	<div><input type="submit" value="生產"/></div>
	</form>
	{% if pdinfo %}
	<table width = "80%">
		<tr>
			<td>料號</td>
			<td>料號</td>
			<td>料號</td>
			<td>料號</td>
		</tr>
		<tr>
			<td> {{ pdinfo.0 }}</td>
			<td> {{ pdinfo.1 }}</td>
			<td> {{ pdinfo.2 }}</td>
			<td> {{ pdinfo.3 }}</td>
		</tr>
	</table>
	{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}