{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>生產登錄</h3>

	<form method ="post" action ="">
		{% csrf_token %}
	<div>

		<td><label for="qty">生產 <font color="red">{{ bf.0.product.name }}</font> 數量</label></td>
		{% if lockQty %}
			<td> 1 </td>
		{% else %}
			<td><input type="number" name="qty"></td>
			</div>
			<div>
			<td><label>總生產成本(不需加入元件成本)</label></td>
			<td><input type="number" name="cost"></td>
		
		{% endif %}

	</div>
	<div>
		{% for bfx in bf %}
		<td><input type="radio" name="bomtype" value={{ bfx.bomserial }}>
			<label>{{ bfx.product}}__{{bfx.discription}}</label></td>
		{% endfor %}

		{% if lockQty %}
			
		{% else %}
			<td><input type="radio" name="bomtype" value="inside" checked >
			<label>RD 自行領料</label></td>
		{% endif %}
		
	</div>
	<div>
		{% if lockQty %}
			<td> 產品序號 </td>	
		{% else %}
			<td> 連續產品序號起始號 </td>
		{% endif %}
		<td><input type="number" name="serial"></td>
	</div>
	{% if lockQty %}
	<div>
		<table witdth = "50%">
		{% for endp in endProduct %}

		<tr>
			<td>{{ endp.part }}</td>
			<td>{{ endp.serial }}</td>
			<td><input type="checkbox" value = {{ endp.serial }} name = "checklist"/> </td>
		</tr>
		
	{% endfor %}
	</table>
	</div>

	{% else %}
	<div><td>此動作會自動產品添加產品序號，若標籤為不連續的標號，請分次輸入連續的</td></div>
	{% endif %}
	
	<div><input type="submit" value="生產"/></div>
	</form>
<hr>

	{% if serial_exist %}
	<p><font color ="green">序號重複請檢查後再次輸入，若為連續序號請檢查輸入到哪一筆資料</font></p>
	{% endif %}
	{% if selectBOM %}
	<p><font color ="red">請選擇材料清單</font></p>
	{% endif %}
	{% if serialEmpty %}
		<p><font color ="red">請輸入序號</font></p>
	{% endif %}
	{% if serialNotMatch %}
	<p><font color ="red">子產品序號數量不符</font></p>
	{% endif %}
	{% if pdinfo %}
	<table width = "80%">
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>庫存</td>
			<td>未測試庫存</td>
		</tr>
		<tr>
			<td> {{ pdinfo.0 }}</td>
			<td> {{ pdinfo.1 }}</td>
			<td> {{ pdinfo.2 }}</td>
			<td> {{ pdinfo.3 }}</td>
		</tr>
	</table>
	{% endif %}
	
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}