{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>銷售登錄</h3>
		<p>僅限含序號的產品一次一件</p>
		

	<form method ="post" action ="">
		{% csrf_token %}

	<div>
		<td><select name = "customer">
			{% for cus in customer %}
				<option > {{ cus.name }} </option>
			{% endfor %}
		</select> </td>	
		
			{% if endp %}
			<td><select name = "serial">
			{% for ser in endp %}
				<option > {{ ser.serial }} </option>
			{% endfor %}
			</select> </td>	
			{% else %}
			<p>無完成測試產品 請先進行測試</p>
			{% endif %}
		

	<div><input type="submit" value="銷售登錄"/></div>
	</form>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}