{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>銷售登錄</h3>
		<p>僅限含序號的產品一次一件</p>
		
	<table>
	<form method ="post" action ="">
		{% csrf_token %}

	<tr>
		<td>客戶</td>
		<td colspan="2">產品序號</td>
	</tr>
	<tr>
		<td><select name = "customer">
		{% for cus in customer %}
			<option > {{ cus.name }} </option>
		{% endfor %}
		</select> </td>	
		
		{% if endp %}
			<td><select name = "serial">
			{% for ser in endp %}
			<option > {{ ser.serial }} </option>
			{% endfor %}
			</select> </td>	
			<td><input type="submit" value="銷售登錄"/></td>
		{% else %}
			<td>無完成測試產品，請先進行測試</tr>
		{% endif %}
	</tr>
		
	</form>
	</table>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}