{% extends "base_generic.html" %}

{% block content %}

	<div>
		<h3>測試登錄</h3>

	<form method ="post" action ="">
		{% csrf_token %}
	{% if epuntest %}
	<div>
		<li>請選擇 <font color=red>{{ product.name }}</font> <font color=blue>未測試</font> 產品序號：</li>
		{% if testurl %}
		<li><a href="{{ testurl }}" target="_blank"> 填寫測試報告 </a></li>
		{% endif %}
	</div>
		{% for ep in epuntest %}
		<input type = "radio" value ="{{ ep.serial }}" name = "serial">
		<label> {{ ep.serial }}(BOM type: {{ep.bom.discription}})　</label>
		{% endfor %}
	{% else %}
		<label>無 <font color=blue>未測試</font> 產品序號</label>
	{% endif %}
<hr>
	{% if serialEmpty %}
		<p><font color ="red">請選擇序號</font></p>
	{% endif %}

	<div>
		<li><font color="red">{{ product.name }}</font> 軟體燒錄登錄：</li>
		{% if software %}
			<p>可複選，按登錄前請仔細確認軟體版號，如果選錯請洽管理員。</p>
			<table>
				<tr><td> 軟體名稱 </td><td >軟體描述</td><td>新增</td></tr>
				{% for sw in software %}
				<tr>
					<td>{{ sw.name }}</td>
					<td>{{ sw.discription }}</td>
					<td><input type="checkbox" value = {{ sw.Sid }} name = "software"/></td>
				</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>如果有需要燒錄軟體，但是上面沒有列表，請至韌體清單將軟體登錄到對應硬體。</p>
		{% endif %}
	{% if softwareEmpty %}
		<p><font color ="red">請勾選燒錄軟體</font></p>
	{% endif %}
	</div>
<hr>
	{% if epuntest %}
	<li>輸入測試結果</li>
	<div>
		<input type="radio" name="result" value="passed" checked >
		<label> Passed　</label>
		<input type="radio" name="result" value="failed" >
		<label> Failed </label>
		<label> 描述：</label>
		<input type="text" name="reason">
		{% if ferror %}
		<p><font color="red">請輸入錯誤或失敗的情況</font></p>
		{% endif %}
	</div>

	<div><input type="submit" value="新增測試紀錄"/></div>
	{% endif %}
	</form>
<hr>
	{% if eptest %}
	<div>
		<li><font color=red>{{ product.name }}</font> <font color=blue>已測試 Passed </font> 產品序號：</li>
	</div>
		{% for ep in eptest %}
			{{ ep.serial }}, 
		{% endfor %}
	{% else %}
		<label>無 <font color=blue>已測試</font> 產品序號</label>
	{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}