<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title> Quanatser Portal</title> {% endblock %}
  <meta charset="utf-8">
  <meta name ="viewport" content ="width = device-width, initial-scale =1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
 <style type="text/css">
table,td{ border:1px solid #333;}

 </style>

</head>
<body>
  <div class ="container-fluid">
    <div class="row" style="background-color:darkblue;">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="color:white;">
        {% if user.is_authenticated %}
        <p>Hi, {{ user.get_username }} </p>
        {% else %}
        <p>Hi, Guest </p>
        {% endif %}
      </div>
      <div class="col">
        {% if user.is_authenticated %}
          <a style="color:red" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
          <a style="color:red" href="{% url 'login'%}?next={{request.path}}">Login</a>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
        <a style="color:yellow" href="{% url 'password_change' %}?next={{request.path}}">Change Password</a>
      {% endif %}

    </div>
    <div class="row" style="background-color:lightcyan;">
      {% block topbar %}
      <div class = "col-sm"> <a href ={% url 'index' %}> Home </a> </div>
      <div class = "col-sm"> <a href ={% url 'erpindex' %}> 庫存管理系統 </a> </div>
      <div class = "col-sm">  APP2 </div>
      {% endblock %}
    </div>
    <div class="row">
      <div class="col-sm-2" style="background-color:lightgray;">
      {% block sidebar %} 
        <!--sidebar for indivisual app-->
      {% endblock %}
      </div>
      <div class="col-sm-10">
        {% block content%}
        <!--Content massage here-->
        {% endblock%}
      </div>
    </div>
  </div>
</body>
</html>