{% extends "base_generic.html" %}

{% block content %}
	<h3>修改需求 / 不良品列表</h3>
	
	{% if pl %}
	
	<table width = "80%" >
		<tr>
			<td>料號</td>
			<td>客戶</td>
			<td>產品序號</td>
			<td>軟體 / 韌體版號</td>
			<td>提出日期</td>
			<td>修改需求 / 不良狀況</td>
			<td>處理登錄</td>
		</tr>
	{% for part in pl %}
	<tr>
		<td> {{ part.0 }} </td>
		<td> {{ part.1 }} </td>
		<td> {{ part.2 }} </td>
		<td> {% for sw in part.3 %}
			 	{{ sw }}<br> 
			 {% endfor %}
		</td>
		<td> {{ part.4 }} </td>
		<td> {{ part.5 }} </td>
		<td> <a href='close/{{ part.6 }}/' class="btn btn-info">處理狀況回報</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}