{% extends "base_generic.html" %}

{% block content %}

	<h3>不良品分析結案</h3>
	{% if ccn_list %}
	<div>
		<td>品名</td>
		<td>{{ ccn_list.partNumber }}</td>
	</div>
	<div><td>客戶:</td>
		<td>{{ ccn_list.customer }}</td>
	 </div>
	 <div>
	 	<td>產品序號:</td>
	 	<td>{{ ccn_list.serialNumber }}</td>
	 </div>
	 <div>
	 	<td>登錄日期:</td>
	 	<td>{{ ccn_list.reqDate }}</td>
	 </div>


	<form method ="post" action ="">
		{% csrf_token %}
	<div>
		<td>失效分析與措施:</td>
	</div>
	<div>
		<textarea name="rootCause" rows="20" cols ="100">{{ ccn_list.failure }}</textarea>
	</div>

	<div><input type="submit" value="結案"/></div>
	</form>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}