{% extends "base_generic.html" %}

{% block content %}

	<h3>不良品分析結案</h3>
	{% if part %}
	<div>
		<td>品名：</td>
		<td>{{ part.0 }}</td>
	</div>
	<div><td>客戶：</td>
		<td>{{ part.1 }}</td>
	 </div>
	 <div>
	 	<td>產品序號：</td>
	 	<td>{{ part.2 }}</td>
	 </div>
	 <div>
	 	<td>PC軟體版號：</td>
	 	<td>{{ part.3 }}</td>
	 </div>
	 <div>
	 	<td>登錄日期：</td>
	 	<td>{{ part.4 }}</td>
	 </div>

	<form method ="post" action ="">
		{% csrf_token %}
	<div>
		<td>錯誤或失效 分析與措施：</td>
	</div>
	<div>
		<textarea name="rootCause" rows="20" cols ="100">{{ part.5 }}</textarea>
	</div>

	<div><input type="submit" value="結案"/></div>
	</form>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}