{% extends "base_generic.html" %}

{% block content %}
	<div>
		{% if status == "add_new" or status == "add_ok" %}
		<h3>新增客戶</h3>
		{% else %}
		<h3>修改客戶</h3>
		{% endif %}
	</div>
		<li><a href={% url 'viewCustomer' %}>搜尋客戶</a>
	<form action="" method="post">
		{% csrf_token %}
		<table border="0">
		<tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.name }}</td>
		</tr>
		<tr>
			<td>{{ form.vax.label }}</td>
			<td>{{ form.vax }}</td>	
		</tr>
		<tr>
			<td>{{ form.contact.label }}</td>
			<td>{{ form.contact }}</td>
		</tr>
		<tr>
			<td>{{ form.phone.label }}</td>
			<td>{{ form.phone }}</td>	
		</tr>
		<tr>
			<td>{{ form.add.label }}</td>
			<td>{{ form.add }}</td>	
		</tr>
		<tr>
			<td><font color="red">{{ form.name.errors }}</font></td>
			<td><input type="submit" value="OK"></td>
		</tr>

	</form>

	{% if status != '' %}
	<hr>
	<div><font color = red>
	{% if status == "add_ok" %}
		新增成功
	{% endif %}
	{% if status == "edit_ok" %}
		修改成功
	{% endif %}
	</font></div>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}