{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>新增韌體或軟體</h3>
	</div>
	<form action="" method="post">
		{% csrf_token%}
		<table border="0">
		<tr>
			<td>{{ form.name.label }}</td>
			<td>{{ form.name }}</td>
		</tr>
		<tr>
			<td>{{ form.discription.label }}</td>
			<td>{{ form.discription }}</td>
		</tr>
		<tr>
			<td>{{ form.history.label }}</td>
			<td>{{ form.history }}</td>	
		</tr>
		<tr>
			<td><font color="red">{{ form.name.errors }}</font></td>
			<td><input type="submit" value="OK"></td>
		</tr>
		</table>
	</form>

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}