{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>料件數量變更</h3>

	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">數量變更料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
	{% if outlist %}
	<table border="1">
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>數量</td>
			<td>登錄變更</td>
		</tr>
		{% for pn in outlist %}
		<tr>
			<td> {{ pn.0 }}:</td>
			<td> {{ pn.1 }} </td>
			<td> {{ pn.2 }}</td>
			<td> <a href="{{ pn.3 }}/" class="btn btn-info"> 數量變更 </a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！請重設查詢條件 </p>
	{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}