{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>檢視材料清單</h3>
	</div>
	<div>
		<li><a href={% url 'addPartNumber' %}>新建料號</a>
		<li><a href={% url 'addCategory' %}>新建料號分類</a>
<li> 填寫 [材料清單] 時如果有無法計量的用品，例如：熱縮套管，散熱膏等，請一併填寫，使用數量則為＂0＂，使採購人員備料前可以檢查。</li>
	</div>
	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">新增材料清單包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>

	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
	{% if partnumber_list %}
	<table border="1">
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>新增材料清單</td>
		</tr>
		{% for pn in partnumber_list %}
		<tr>
			<td> {{pn.name}} </td>
			<td> {{pn.discription}} </td>
			<td> <a href="{{ pn.Pid }}/" class="btn btn-info"> Add </a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！ 請重設查詢條件 </p>
	{% endif %}
<hr>
	<div> 
		BOM of <font color="blue">{{ bomdefine.product.name }}</font>_<font color="red">{{ bomdefine.discription }}</font>
		<a href='cost/' class="btn btn-info"> 計算成本 </a>
	</div>

	<table width = "100%">
		{% if element %}
			<tr>
				<td>料號</td>
				<td>描述</td>
				<td>位置</td>
				<td>數量</td>
				<td>PCB part (以","隔開)</td>
				<td>編輯</td>
			</tr>
			{% for ele in element %}
			<tr>
			<td> <a href ="/erp/partNumber/{{ele.part.Pid }}/" >{{ ele.part.name }}</a> </td> 
			<td> {{ ele.part.discription }} </td>
			<td> {{ ele.part.location }} </td>
			<td> {{ ele.unitQty }} </td> 
			<td> {{ ele.schPN }} </td>
			<td> <a href="{{ ele.part.Pid }}/" class="btn btn-info"> Edit </a> </td>

			</tr>
			{% endfor%}
		{% else %}
			<p>Bom list is empty</p>
		{% endif %}

	</table>
	<a href="upload/" class="btn btn-info"> 上傳 BOM 表檔案</a>
<font color ="red">（注意：原本資料會被清除！）</font>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}