{% extends 'base_generic.html' %}

{% block content %}
<h3> 庫存管理系統 </h3>
<li> 輸入 Digikey、Mouser、RS 購買連結時，請注意<font color=red>不要</font>連結到 digiReel（有附卷帶的包裝較貴）。</li>
<li> 料號規則說明：</li>
<table><tr><td>
IC_ADC_partnumber_package<br>
IC_DAC_partnumber_package<br>
IC_LDO_partnumber_package<br>
IC_MCU_partnumber_package<br>
IC_PWM_partnumber_package<br>
IC_REF_partnumber_package<br>
IC_FPGA_partnumber_package<br>
IC_*P*T_partnumber_package<br>
IC_MIXER_partnumber_package<br>
IC_OPAMP_partnumber_package<br>
IC_CLKBUF_partnumber_package<br>
IC_EEPROM_partnumber_package<br>
IC_TRANSLATOR_partnumber_package<br>
</td><td>
C_value_voltage_material_package<br>
R_value_power_pacakge_%_(option)<br>
L_BEAD_rvalue_resistaue_freq_package<br>
L_value_current_package<br>
<br>
D_LED_color_package<br>
D_Zener_voltage_power_package<br>
D_Schottky_partnumber_package<br>
D_GP_partnumber_package<br>
D_TVS_partnumbeer_package<br>
X_freq_partnumber_package<br>
BJT_type_partnumber_voltage_current_package<br>
Flash_partnumber_package<br>
NMOS_ch_partnumber_voltage_current_package<br>
JEFT_ch_partnumber_voltage_current_package<br>
VR_value_package<br>
</td><td>
CON_BNC_(Auto/90/180)<br>
CON_SMA_(90/180)<br>
CON_USB_(micro/mini/Btype)<br>
CON_KK_pitch_pins_M_(90/180)<br>
CON_KK_pitch_pins_F<br>
CON_wafer_pitch_pins_M_(90/180)<br>
CON_wafer_pitch_pins_F<br>
CON_pinhead_axb_M_(SM/LL)_(90/180)<br>
CON_pinhead_axb_F<br>
ENCODER_PPR_partnumber<br>
SW_*P*T_partnumber<br>
Optics_ARwindow_coating_wavelength<br>
Etalon_Material_ROC_thickness_reflectivity<br>
Nameplate_model<br>
BOX_model
</td></tr></table>

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}