<ul>
	<li> <a href ="{% url 'viewPartNumber' %}">料號查詢管理</a></li>
	<li> <a href ="{% url 'viewBomList' %}">BOM 材料清單管理</a></li>
	<li> <a href ="{% url 'purchasing' %}">進貨登錄</a></li>
	<li> <a href ="{% url 'discard' %}">料件數量變更</a></li>
	<li> <a href ="{% url 'planer' %}">生產規劃</a></li>
	<li> <a href ="{% url 'production' %}">生產記錄</a></li>
	<li> <a href ="{% url 'testing' %}">測試記錄</a></li>
	<li> <a href="{% url 'purchaseList' %}">採購需求單</a></li>
	<li> <a href ="{% url 'mpList' %}">生產需求單</a></li>
	<li> <a href ="{% url 'createSoftware' %}">新增韌體</a></li>
	<li> <a href ="{% url 'createCustomer' %}">新增客戶</a></li>
	<li> <a href ="{% url 'viewSoftware' %}">韌體 & 硬體連結</a></li>
	<li> <a href ="{% url 'viewSales' %}">銷售登錄</a></li>
	<li> <a href ="{% url 'ccnList' %}">不良品列表</a></li>
	<li> <a href="{% url 'addCCNList' %}">客訴回報</a></li>
	<li> <a href="{% url 'tracking' %}">序號查詢</a></li>
	<li> <a href="{% url 'downloadPartNumber' %}">下載料號列表</a></li>

</ul>