{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>量產登錄</h3>

	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">新增料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
<hr>

	{% if table %}
	<table width = "100%">
		<thead colspan="5"> <tr>Part Number List</tr> </thead>
		<tr>
			<td>料號</td>
			<td>描述</td>	
			<td>庫存數</td>
			<td>未測試庫存數</td>
			<td>位置</td>
			<td>採購登錄</td>
		</tr>
		{% for row in table %}
		<tr>
			<td>{{ row.0 }}</td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td>{{ row.4 }}</td>
			<td><a href='{{ row.5 }}/' class="btn btn-info">量產登錄</td>

		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！ 請重設查詢條件 </p>
	{% endif %}
	{% if pl %}
	
	<table width = "80%" >
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>要求生產數量</td>
			<td>客戶</td>
			<td>提出日期</td>
			<td>量產完成登錄</td>
		</tr>
	{% for part in pl %}
	<tr>
		<td> {{ part.0 }} </td>
		<td> {{ part.1 }} </td>
		<td> {{ part.2 }} </td>
		<td> {{ part.3 }} </td>
		<td> {{ part.4 }} </td>
		<td> <a href='close/{{ part.5 }}/' class="btn btn-info">已購買</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}