{% extends "base_generic.html" %}

{% block content %}
<li> PCBA 建立 [材料清單] 時，請務必建立一個＂ALL＂包含所有料件，如果有些料打件廠可以代購，再建立一個＂SMT＂，移除打件廠會備的料件，因功能不同有 BOM option 時，也可以建立功能型材料清單。</li>
<li>輸入 <font color=red>{{ pname }}</font> 新增 BOM 描述</li>
（ex："ALL" for 手焊, "SMT" for 工廠）</p>
<form method ="post" action ="">
	{% csrf_token %}
	<input type="text" name="discription">
	<input type="submit" name="submit">
</form>
{% if emptyDisp %}
<p><font color = "red"> 建立失敗！請輸入 BOM 描述</font></p>
{% endif %}
{% if repeatDis %}
<p><font color = "red"> 建立失敗！BOM 描述重複</font></p>
{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}