{% extends "base_generic.html" %}

{% block content %}
{% if table %}
	<table width = "100%">
		<thead colspan="5"> <tr> 備料計算：{{ total }} </tr> </thead>
		<tr>
			<td> </td>
			<td>料號</td>
			<td>位置</td>
			<td>目前數量</td>
			<td>未測試數量</td>
			<td>生產所需數量</td>
			<td>所需購買或<br>測試數量</td>
			<td>購買連結</td>
		</tr>
	{% for row in table %}
	<tr>
		<td>{{ row.1 }}</td>
		<td><a href='../../partNumber/{{row.1}}/'>{{ row.0 }}</a></td>
		<td>{{ row.8 }}</td>
		<td>{{ row.2 }}</td>
		<td>{{ row.3 }}</td>
		<td>{{ row.4 }}</td>
		<td>{{ row.5 }}</td>
		{% if row.7 == "http" %}
			<td><a href='{{ row.6 }}/' target='_blank' class="btn btn-info"> Buy </a></td>
		{% else %}
			<td>{{ row.6 }}</td>
		{% endif %}
	</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}