{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>進貨登錄</h3>

	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">新增料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
<hr>

	{% if table %}
	<table border="1">
		<tr>
			<td>料號</td>
			<td>庫存數</td>
			<td>位置</td>
			<td>描述</td>
			<td>登錄進貨</td>
		</tr>
		{% for row in table %}
		<tr>
			<td>{{ row.0 }}</td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td> <a href="{{ row.4 }}/" class="btn btn-info" > Add </a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！請重設查詢條件 </p>
	{% endif %}
	<hr>
	<div><a href="Upload/" class="btn btn-info" >上傳 csv 購買紀錄</a></div>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}