{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>採購需求登錄</h3>
	{% if pl %}
	<div>
		以下為 <font color=red>尚未採購</font> 的需求清單：
	</div>
	<table width = "80%" >
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>連結</td>
			<td>數量</td>
			<td>需求者</td>
			<td>提出日期</td>
			<td>購買完成登錄</td>
		</tr>
	{% for part in pl %}
	<tr>
		<td> <a href="/erp/partNumber/{{ part.6 }}/">{{ part.0 }}</a> </td>
		<td> {{ part.1 }} </td>
		<td> {{ part.2 }} </td>
		<td> {{ part.3 }} </td>
		<td> {{ part.4 }} </td>
		<td> {{ part.5 }} </td>
		<td> <a href='close/{{ part.6 }}/' class="btn btn-info">已購買</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
<hr>

	<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">新增料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
<hr>

	{% if table %}
	<table width = "100%">
		<thead colspan="5"> <tr>Part Number List</tr> </thead>
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>購買連結</td>	
			<td>庫存數</td>
			<td>最新價格</td>
			<td>位置</td>
			<td>採購登錄</td>
		</tr>
		{% for row in table %}
		<tr>
			<td><a href="/erp/partNumber/{{ row.6 }}/">{{ row.0 }}</a></td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td>{{ row.4 }}</td>
			<td>{{ row.5 }}</td>
			<td><a href='{{ row.6 }}/' class="btn btn-info">採購登錄</td>

		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 料號搜尋無結果！ 請重設查詢條件 </p>
	{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}