{% extends "base_generic.html" %}
{% block content %}
	<div>
		<h3>測試記錄</h3>

<form method ="post" action ="">
		{% csrf_token %}
	
	<div>
		<td><label for="pnKW">料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>	
	</div>

	<div><input type="submit" value="Filter"/></div>
	</form>
<hr>

	{% if pd_list %}
	<table border="1">
		<tr>
			<td>料號</td>
			<td>描述</td>
			<td>測試記錄</td>
		</tr>
		{% for pn in pd_list %}
		<tr>
			<td> {{pn.name}}:</td>
			<td> {{pn.discription}} </td>
			<td> <a href="{{ pn.Pid }}/" class="btn btn-info"> Add </a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！請重設查詢條件 </p>
	{% endif %}
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}