{% extends "base_generic.html" %}

{% block content %}
<li> <font color=red>請勿使用中文！</font></li>
<li> 上傳檔案新增料號，會顯示＂上傳成功＂與＂重複＂的料號。</li> 
<li> 選擇要上傳的檔案，上傳前請檢查格式正確與否。上傳後須到相關頁面確認上傳結果，如有問題聯絡管理員。</li>
<table width = "80%">
<tr><td>上傳檔案類型</td><td>上傳檔案格式</td></tr> 
<tr>
	<td>料號格式一</td>
	<td>名稱; 位置; 分類; 生產等級; 描述; 購買連結 \n</td>
</tr>
<tr>
	<td>料號格式二</td>
	<td>名稱; 位置; 分類; 生產等級; 描述; 購買連結; 數值; 封裝; 第二購買連結;備註1; 備註2\n</td>
</tr>
<tr>
	<td>材料清單格式</td>
	<td>名稱; 數量;電路圖上的元件名(以逗號分開)\n</td>
</tr>
<tr>
	<td>採購清單格式</td>
	<td>名稱; 數量;價格\n</td>
</tr>
</table>

<br></br>	
<form method="post" enctype="multipart/form-data".>
	{% csrf_token%}

{{ form }}
<input type="submit" value="submit"/>
</form>
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}