{% extends "base_generic.html" %}

{% block content %}
<p>{{ product.name }} 清單編輯</p>
	<table width = 60% >
		<tr>
			<td>清單描述</td>
			<td>下載</td>
		</tr>
	{% if bomdefine %}

		{% for bf in bomdefine %}
		<tr>
			<td><a href='{{ bf.bomserial }}/'>{{ bf.discription}}</a></td>
			<td><a href='download/{{ bf.bomserial}}/' class = "btn btn-info">下載</td>
		</tr>
		{% endfor %}
	{% endif %}
		<tr>
		<td><a href='new/'>新增</a></td>
			<td></td>
		</tr>
	</table>
	

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}