{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>銷售查詢</h3>
	<form method ="post" action ="">
		{% csrf_token %}
	<div>
		<label>料號</label>
		<input type="text" name="part_name">（必須填完整料號）
		<p>OR</p>
		<label>客戶名稱</label>
		<select name = "cust_name">
		{% for cus in customer_list %}
			<option > {{ cus.name }} </option>
		{% endfor %}
		</select>
	<div><input type="submit" value="查詢"/></div>
	</form>
<hr>

{% if part_name %}
	<h5>料號 : <font color=blue>{{ part_name }}</font></h5>
{% endif %}

{% if cust_name %}
	<h5>客戶名稱 : <font color=blue>{{ cust_name }}</font></h5>
{% endif %}

{% if endp_list %}
	<table>
		<tr>
			<td>產品名稱</td>
			<td>產品序號</td>
			<td>產品狀態</td>
			<td>BOM</td>
			<td>BOM type</td>
			<td>生產日期</td>
			<td>測試日期</td>
			<td>銷售日期</td>
			<td>客戶名稱</td>
		</tr>
	{% for endp in endp_list %}
		<tr>
			<td>{{ endp.part }}</td>
			<td><a href='/erp/viewSerial/{{ endp.serial }}/'>{{ endp.serial }}</a></td>
			<td>{{ endp.status }}</td>
			<td>{{ endp.bom }}</td>
			<td>{{ endp.bom.discription }}</td>
			<td>{{ endp.mDate }}</td>
			<td>{{ endp.tDate }}</td>
			<td>{{ endp.sDate }}</td>
			<td>{{ customer }}</td>
		</tr>
		<tr>
			<td>備註</td>
			<td colspan=10>
			{% autoescape off %}
			{{ endp.note }}
			{% endautoescape %}
			</td>
		</tr>
		<tr>
			<td colspan=11>
			<hr>
			</td>
		</tr>
	{% endfor %}
	</table>

{% else %}
<p>查無序號</p>
{% endif %}
	
{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}