{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>搜尋客戶</h3>
	</div>
	<form method ="post" action ="">
		{% csrf_token%}
	<div>
		<td><label>客戶包含關鍵字</label></td>
		<td><input type="text" name="customer"></td>
	</div>
	<div><td><input type="submit" value="搜尋"></td></div>
	</form>
<hr>

{% if customer_list %}
<table>
<tr>
	<td> 客戶名稱 </td>
	<td> 統一編號 </td>
	<td> 聯絡人 </td>
	<td> 電話 </td>
	<td> 地址 </td>
	<td></td>
</tr>
{% for cn in customer_list %}
<tr>
	<td>{{ cn.name }}</td>
	<td>{{ cn.vax }}</td>
	<td>{{ cn.contact }}</td>
	<td>{{ cn.phone }}</td>
	<td>{{ cn.add }}</td>
	<td>
	 <a href="../editCustomer/{{ cn.cid }}/" class="btn btn-info" > Edit </a>
	</td>
</tr>
{% endfor %}
</table>
{% else %}
<div>無此客戶<div>
{% endif %}
{%endblock%}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}