{% extends "base_generic.html" %}

{% block content %}
<p><font color=red>{{ product.name }}</font> 清單編輯</p>
	{% if bomdefine %}
	<table width = 60% >
		<tr>
			<td>清單描述</td>
			<td>下載</td>
		</tr>

		{% for bf in bomdefine %}
		<tr>
			<td><a href='{{ bf.bomserial }}/'>{{ bf.discription}}</a></td>
			<td><a href='download/{{ bf.bomserial}}/' class = "btn btn-info">下載</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
<hr>
<a href='new/' class = "btn btn-info">新增</a></td>
	

{% endblock %}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}