{% extends "base_generic.html" %}

{% block content %}
	<div>
		<h3>料號查詢</h3>
	</div>
	<div>
		<li><a href={% url 'addPartNumber' %}>新建料號</a></li>
		<li><a href={% url 'addCategory' %}>新建料號分類</a></li>
		<li><a href={% url 'uploadPart' %}>批次建立新料號</a></li>
	</div>
	<form method ="get" action ="">
	<div>
		<td><label for="pnKW">料號包含關鍵字</label></td>
		<td><input id ="pnKW" type="text" name="pnKW"></td>
		{% if emptyKW %}
			<td><font color=red>請輸入關鍵字</font></td>
		{% endif %}
	</div>
	<div>
		<td><label for="category">料號分類</label></td>
		<td><select name = "category">
				<option> {{ category }} </option>
				<option> ALL </option>
			{% for cg in category_list %}
				<option > {{ cg.category }} </option>
			{% endfor %}
		</select> </td>
	</div>
	<div>
		<td><font color="red"> Package : ( only Use in C or R )</font></td> 
	</div>
	<div>
		<td>
		{% if package == "All" %}
			<input type="radio" name="package" value="All" checked> All </input>
		{% else %}
			<input type="radio" name="package" value="All"> All </input>
		{% endif %}

		{% if package == "0402" %}
			<input type="radio" name="package" value="0402" checked> 0402 </input>
		{% else %}
			<input type="radio" name="package" value="0402"> 0402 </input>
		{% endif %}

		{% if package == "0603" %}
			<input type="radio" name="package" value="0603" checked> 0603 </input>
		{% else %}
			<input type="radio" name="package" value="0603"> 0603 </input>
		{% endif %}

		{% if package == "0805" %}
			<input type="radio" name="package" value="0805" checked> 0805 </input>
		{% else %}
			<input type="radio" name="package" value="0805"> 0805 </input>
		{% endif %}

		{% if package == "other" %}
			<input type="radio" name="package" value="other" checked> other </input>
		{% else %}
			<input type="radio" name="package" value="other"> other </input>
		{% endif %}
		</td>
	</div>
	<div><input type="submit" value="submit"/></div>
	</form>
<hr>

	{% if table %}
	<table width = "100%">
		<thead colspan="5"> <tr>Part Number List</tr> </thead>
		<tr>
			<td>料號</td>
			<td>庫存數</td>
			<td>未測試庫存</td>
			<td>最新價格</td>
			<td>位置</td>
			<td>描述</td>
			<td>購買連結</td>
			<td>所屬 BOM 表</td>
		</tr>
		{% for row in table %}
		<tr>
			<td><a href='{{ row.7 }}/' > {{ row.0 }} </a></td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td>{{ row.4 }}</td>
			<td>{{ row.5 }}</td>
			{% if row.8 == "http" %}
				<td><a href='{{ row.6 }}/' target='_blank' class="btn btn-info"> Buy </a></td>
			{% else %}
				<td>{{ row.6 }}</td>
			{% endif %}
			<td><a href='../viewBomOfPart/{{ row.7 }}/' class="btn btn-info"> View BOM </td>

		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p> 無結果！ 請重設查詢條件 </p>
	{% endif %}
{%endblock%}

{% block sidebar %}
{% include 'erpside.html' %}
{% endblock %}