{% extends 'base_generic.html' %}

{% block content %}

{% block top_manager %}
{% include 'top_wiki.html' %}
{% endblock %}

<h5>
{% if update %}
修改
{% else %}
新增
{% endif %}
文章
</h5>

<form method="post" enctype="multipart/form-data".>
	{% csrf_token %}
	<table>
		<tr ><div style="color:red;">{{ form.errors }}</div></tr>
	<tr>
		<td>標題</td>
		<td>{{ form.title }}</td>
	</tr>
	<tr>
		<td>Tag</td>
		<td>
		{% if tag_empyt %}
			<font color=red> 請先使用 --> </font><a href ={% url 'NewArticleTag' %}> 新增文章Tag </a>
		{% else %}
			{% for checkbox in form.category %}
				{{ checkbox.tag }} {{ checkbox.choice_label }} &nbsp; &nbsp;
			{% endfor %}
		{% endif %}
		</td>
	</tr>
	<tr>
		<td>內文</td>
		<td>{{ form.content }}
		{{ form.media }}</td>
	</tr>
</table>
<br>
<input type="submit" value="submit"/>
<font color="red"> {{ form.name.errors }} </font>
</form>
{% endblock %}

{% block sidebar %}
{% include 'side_wiki.html' %}
{% endblock %}
