{% extends 'base_generic.html' %}

{% block content %}

{% block top_manager %}
{% include 'top_wiki.html' %}
{% endblock %}

<h5>
{% if update %}
修改
{% else %}
新增
{% endif %}
文章 Tag</h5>

<form method="post" enctype="multipart/form-data".>
	{% csrf_token%}
	<table>
	<tr>
		<td>Tag 名稱</td>
		<td>{{ form.name}}</td>
	</tr>
	<tr>
		<td>Parent</td>
		<td>{{ form.parent }}</td>
	</tr>
	</table>
<br>
<input type="submit" value="submit"/>
<font color="red"> {{ form.name.errors }} </font>
</form>
{% endblock %}

{% block sidebar %}
{% include 'side_wiki.html' %}
{% endblock %}
