{% extends 'base_generic.html' %}

{% block content %}

{% block top_wiki %}
{% include 'top_wiki.html' %}
{% endblock %}

{% if tag %}
    <p><font size="+2">{{ tag.name }}</font> 
    [<a href='/labwiki/Tag/{{ tag.id }}/update'> Update </a>]</p>
{% else %}
    <h5>最新文章</h5>
{% endif %}

{% if articles %}
<table width=100% border=0>
<tr>
    <th>標題</th>
    <th>作者</th>
    <th>日期</th>
    <th>修改者</th>
    <th>修改日期</th>
</tr>
{% for article in articles %}
<tr>
    <td><a href='/labwiki/Article/{{ article.pk }}'>{{ article.title }}</a> </td>

    <td>{{ article.user }}</td>
    <td>{{ article.date }}</td>
    <td>{{ article.update_user }}</td>
    <td>{{ article.update_date }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>無相關文章</p>
{% endif %}

{% endblock %}

{% block sidebar %}
{% include 'side_wiki.html' %}
{% endblock %}
